/* LoadingDots.css */
.loading-dots {
    display: inline-block;
  }
  
  .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 2px;
    background-color: #fff; /* Change the color as needed */
    border-radius: 50%;
    opacity: 0.3;
    animation: blink 1.4s infinite both;
  }
  
  .dot1 {
    animation-delay: 0s;
  }
  
  .dot2 {
    animation-delay: 0.2s;
  }
  
  .dot3 {
    animation-delay: 0.4s;
  }
  
  @keyframes blink {
    0%, 80%, 100% {
      opacity: 0.3;
    }
    40% {
      opacity: 1;
    }
  }
  